[program:nsqlookupd]
command={{ nsqlookupd_command }}
directory={{ nsq_dir }}
process_name=nsqlookupd
numprocs=1
priority=990
stopasgroup=true
autostart=true
autorestart=true
stdout_logfile_maxbytes=40MB
redirect_stderr=true
stopsignal=QUIT
stdout_logfile = /var/log/supervisor/nsqlookupd.log
