systemLog:
  destination: file
  logAppend: true
  path: {{ mongos_log }}
processManagement:
  fork: false
  pidFilePath: {{ mongos_pid }}

# network interfaces
net:
  port: {{ mongos_port }}
  bindIp: 0.0.0.0

sharding:
  configDB: {{ mongo_config_cluster }}
#security:
#    keyFile: "/data/mongo/conf/mongo.key"
