# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ shard1_log }}
  logRotate: rename
# Where and how to store data.
storage:
  dbPath: {{ shard1_data_dir }}
  journal:
    enabled: true
  engine: wiredTiger
#  mmapv1:
  wiredTiger:
     engineConfig:
        cacheSizeGB: 2

# how the process runs
processManagement:
  fork: false  # fork and run in background
  pidFilePath: {{ shard1_pid }}  # location of pidfile

# network interfaces
net:
  port: {{ shard1_port }}
  bindIp: 0.0.0.0  # Listen to local interface only, comment to listen on all interfaces.


#security:
#security:
#  authorization: enabled
#  keyFile: /data/mongo/conf/mongo.key
#operationProfiling:

#replication:
replication:
  replSetName: shard1
sharding:
  clusterRole: "shardsvr"
## Enterprise-Only Options

#auditLog:

#snmp:
# profile 
#operationProfiling:
#   slowOpThresholdMs: 200
#   mode: slowOp
