[
  {
    "targets": [ "{{ ansible_ssh_host }}:{{ local_node_port }}" ],
    "labels": {
      "env": "product",
      "job": "linux-nodes",
      "group": "linux-nodes",
      "instance": "{{ local_node_domain }}"
    }
  } 
]
