[Unit]
Description=MySQL Server
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User={{ user }}
Group= {{ user }}
Type=forking
TimeoutSec=0
PermissionsStartOnly=true
ExecStart={{ mysql_base_dir }}/bin/mysqld
LimitNOFILE = 5000
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false
